@charset "UTF-8";
#admin_header{margin: 15px;}
#admin_aside{float: left; width: 15%; height: 700px;
				font: bold 18px verdana, sans-serif; background-color: AntiqueWhite;}
#admin_body{width: 90%; height: 80%; text-align: center;}

#member_table{padding: 5px; margin: 0 auto; text-align: center;}
#member_table tr th{background-color: #008CBA; color: white;}
#member_table tr td{width: 150px; height: 50px;}				
#member_table, tr, td{border: 2px solid darkgray;}

#search_member_btn{width: 50px; height: 30px;}
#member_register_form_btn{width: 50px; height: 30px; float: right;}
